
html {
    font-family: Garamond;
    color: white;
}

nav {
    height: auto;
    background-color: indigo;
    text-align: center;
    padding: 2px;
    width: 98vw;
}
main {
    display: flex;
    width: 98vw;
    /* height: 90vh; */
}
#left, #right, #mid {
    background-color: aqua;
    width: 35%;
    height: 100%;   
}
#mid {
    background-color: black;
    height: 600px;
    overflow-y: scroll;
    text-align: center;
    flex-wrap: wrap;
    padding: 3px;
}
#left, #right {
    background-color: indigo;
    height: 600px;
}
footer {
    background-color: indigo;
    width: 98vw;
    height: auto;

}
footer form {
    margin: 10px;
    color: indigo;
}
ul li p {
    background-color:  tomato;
    border-radius: 50%;
    padding: 5px;
}
#right {
    display: flex;
    flex-direction: column;
    text-align: center;
}
#right form {
    width: 100px;
}
li {
    padding: 5px;
    display: flex;    
}
@media screen and (max-width: 800px) {
    #left, #right {
        width: 20%;
    }
    #mid {
        width: 60%;
    }
    main  {
        display: flex;
    }
    footer {
        background-color: indigo;
        height: 150px;
    }   
}